.MovieDetailsCard{
    margin-top: 15px;
    margin-left: 15px;
    box-sizing: border-box;
}

.MovieImage {
    width: 200px;
    max-width: 200px;
    height: auto;
    display: flex;
    align-items: center;
        img{
            border: 1px solid var(--light-gray);  
        }
    }
    .MovieInfo {
    width: 50px;
    flex: 1;
    word-break: break-all;
    text-align: left;
    padding: 0.2em 1em;
        .MarginSpace{
            margin: 0.2em 0 0;
        }

        p{
            color: gray;
        }
    }
    
    .container {
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    /* flex-direction: column; */
    flex-wrap: wrap;
    }

    .MovieTitle{
        font-weight: bold;
        font-size: 20px;
        color: var(--gray);
        span{
            color: var(--disabled)
        }
    }

    .MovieDetails{
        padding-top: 0.5em;
        p{
            margin-top: 0.2em !important;
            margin-bottom: 0.2em !important;
        }
    }


