
.MovieCard{
    margin-top: 12px;
    margin-left: 12px;
}

.MoviePoster{
    background-color: var(--disabled);
    width: 100%;
    height: 220px;
}

.CardHeading{
    display         : flex;
    justify-content : space-between;
}

.CardContent{
    font-size: 12px;
}

.Title {
    color: var(--gray);
    font-weight: bold;
}

.Description{
    color: var(--light-gray);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.RemainingLines{
    color: var(--light-gray);
}
.Rating{
    color: var(--disabled);
}